@{
    ViewBag.Title = "Home Page";

}

<h2> @Html.ActionLink("Users", "Index", "User")</h2>
@if (User.IsInRole("Admin"))
{
    <h2>@Html.ActionLink("Applications", "Index", "Application")</h2>
}
<h2>@Html.ActionLink("Roles", "Index", "Role")</h2>

<div ng-app="crudModule">
    <div ng-controller="crudController">
        <table>
            <thead>
                <tr>
                    <th>LoginName</th>
                </tr>
            </thead>
            <tbody >
                <tr >
                    <td ng-repeat="user in Users"> <span>{{user.LoginName}}</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/angular")

    <script src="~/js/Services/UserService.js"></script>
    <script src="~/js/Controllers/UserController.js"></script>
}